__tests__
*.test.ts
*.test.tsx
*.test.js
*.test.jsx
jest.config.js
jest.setup.js
.git
.github
.idea
.vscode
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
*.key
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*
.expo
dist
web-build
expo-env.d.ts
metro-health-check*
*.tsbuildinfo
npm-tmp
hs_err_pid*.log
replay_pid*.log
*.apk
*.aab
*.ipa
.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
!android/app/libs/*.aar
!eas-hooks/
.env*.local
.kotlin
