# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Build artifacts (keep bundle for faster builds)
!android/app/src/main/assets/index.android.bundle
*.apk
*.aab
*.ipa

# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Temp files
npm-tmp/
*.log
hs_err_pid*.log
replay_pid*.log
